<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
  <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Menu dynamique</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Articles
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{{ path('article_index') }}">Liste des articles</a></li>
              <li><a class="dropdown-item" href="{{ path('article_new') }}">Écrire un nouvel article</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Catégories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{{ path('category_index') }}">Liste des catégories</a></li>
              <li><a class="dropdown-item" href="{{ path('category_new') }}">Créer une nouvelle catégorie</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block body %}{% endblock %}
  {% block javascripts %}
  <script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
  {% endblock %}
</body>

</html>
