{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <h1>Modifier un article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('article_index') }}">Retourner aux articles</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
