{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <div class="main-container d-flex flex-column">
        <h1 class="section-title text-center">Modifier un article</h1>
        {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}
        <div class="delete-button align-self-center">{{ include('article/_delete_form.html.twig') }}</div>
    </div>


{% endblock %}
