{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <div class="main-container d-flex flex-column">
        <h1 class="section-title text-center">Écrire un nouvel article</h1>
        {{ include('article/_form.html.twig') }}

    </div>





{% endblock %}
